{% extends "::base.html.twig" %}

{% block content %}
    <div id="middle">
        
        <div>{{ errors }}</div>

        {% if user is defined %}
            <div>Пользователь: {{ user.username }}</div>
            
        {% else %}
            <a href="{{ path("symfio_website_connect_redirect", {service: "github"}) }}">Добавить github пользователя</a>
        {% endif %}

    </div>
{% endblock %}
